.login-container {
    display: flex;
    box-sizing: border-box;
    padding: 10% 10%;
    position: relative;
    background-color: #f0f2f5;
    height: 100%;
    width: 100%;
}
.content-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: 10px;
    height: 600px;
}

.facebook__image {
    height: 70px;
    margin: -20px;
}
.facebook-image-container {
    padding-bottom: 16px;
}
.content1 {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.recent-login__h2 {
    font-size: 28px;
    font-weight: 450;
    margin: 0;
}

.recent-login__h3 {
    color: #606770;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

.recent-user-login-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.user-login-container {
    display: flex;
    align-items: flex-start;
    width: 180px;
    height: 220px;
    text-align: center;
    flex-direction: column;
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 10px;
    position: relative;
}

.login-no-ui-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 100%;
    align-items: center;
}
.login-no-ui-container:hover {
    box-shadow: 0 1px 8px 5px #dddfe2;
    cursor: pointer;
}
.avt-user__image {
    height: 170px;
    width: 150px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: 0px 1px 0px rgba(17, 17, 26, 0.1);
}

.name-user-login-container {
    width: 150px;
    background-color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 0px 1px 0px rgba(17, 17, 26, 0.1);
}

.name-user-login {
    margin: 0;
    color: #4b4f56;
    font-size: 18px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: 400;
}
.add-user-login-container {
    display: flex;
    align-items: flex-start;
    width: 180px;
    height: 220px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

.login-add-user__a {
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 150px;
}
.login-add-user__a a {
    text-decoration: none !important;
}
.add-user-login-icon-container {
    height: 170px;
    width: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    background-color: #f0f2f5;
    text-decoration: none;
    box-shadow: 0px 1px 8px rgba(17, 17, 26, 0.1);
}
.name-user-login.blue {
    color: #1877f2;
}
.login__form {
    display: flex;
    align-items: center;
    padding-top: 10px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
    flex-direction: column;
    height: 348px;
}
.login-input {
    width: 330px;
    border-radius: 5px;
    font-size: 17px;
    padding: 14px 16px;
    color: #1d2129;
    line-height: 16px;
    height: 22px;
    border: 1px solid #dddfe2;
    margin: 6px 0;
}
.login-button {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 363px;
    color: white;
    margin: 6px 0;
    font-weight: 600;
}
.login-button:hover {
    cursor: pointer;
}
.forgot-password__a {
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
    font-weight: 400;
    margin: 6px 0;
}

.forgot-password__a:hover {
    text-decoration: underline;
}
.line-through {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
    width: 363px;
}
.login-create-acccount {
    text-align: center;
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    width: 220px;
    color: white;
    margin: 6px 0;
    font-weight: 600;
}
.login-create-acccount:hover {
    cursor: pointer;
}
.register-container {
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 3;
}

.register-container.hide {
    display: none;
}

.register-content {
    margin: auto;
    background-color: transparent;
    overflow: visible;
    padding: 10px;
    width: 432px;
    background: white;
    color: black;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}
.register-header-container {
    width: 100%;
    border-bottom: 1px solid #dadde1;
    position: relative;
}
.register-header {
    margin: 0;
    font-size: 32px;
    margin-bottom: 5px;
    font-weight: 500;
}
.register-sub-header {
    margin: 0;
    color: gray;
    font-size: 15px;
    margin-bottom: 10px;
}
.register-form {
    display: flex;
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
}
.register-name-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.register-name__input {
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid #ccd0d5;
    width: 201px;
    height: 22px;
}

.register-detail__input {
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid #ccd0d5;
    width: 97.5%;
    height: 22px;
    margin-bottom: 10px;
}
.register-detail__input.wrong {
    border-color: red;
}
.register-dob-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.register-dob-header {
    color: #606770;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 2px;
}
.register-date-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
select {
    appearance: none;
    -webkit-appearance: none; /* cho các trình duyệt dựa trên Webkit như Chrome và Safari */
    -moz-appearance: none; /* cho trình duyệt Firefox */
}
.register-date__select {
    width: 30%;
    height: 36px;
    line-height: 20px;
    font-size: 15px;
    border-radius: 5px;
    padding: 0 8px;
    border: 1px solid #ccd0d5;
}
.register-gender-container {
    display: flex;
    flex-direction: column;
}
.register-gender-input-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.register-gender__label {
    color: #606770;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 2px;
}
.register-gender {
    width: 28%;
    height: 36px;
    line-height: 20px;
    font-size: 15px;
    border-radius: 5px;
    padding: 0 8px;
    border: 1px solid #ccd0d5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}
.register-terms {
    color: #777;
    font-size: 11px;
    margin-bottom: 0;
}
.register-term__a {
    text-decoration: none;
    color: #385898;
}
.register-button-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
}
.register-sign-in__button {
    width: 50%;
    height: 36px;
    text-align: center;
    border-radius: 5px;
    border: 0;
    background-color: #00a400;
    color: white;
    margin: auto;
    font-size: 18px;
    font-weight: 600;
}
.register-sign-in__button:hover {
    cursor: pointer;
}
.register-detail__input.hide {
    display: none;
}
.login-container input:focus {
    outline: 1px solid #1877f2;
}
.login-container input.wrong:focus {
    outline: 1px solid red;
}
#footer {
    z-index: 2;
    position: fixed;
    bottom: 0;
    background-color: white;
    left: 0;
    right: 0;
    height: 50px;
    color: #737373;
    padding: 30px 30px 0 30px;
    display: flex;
    font-size: 15px;
    flex-direction: row;
    justify-content: space-between;
}
.footer-icon-container {
    display: flex;
    width: 10%;
    justify-content: space-around;
    font-size: 20px;
    height: 100%;
    line-height: 50px;
}
